.weather {
    margin-top: 200px;
    height: 400px;
    text-align: left;
}
body {
    background-image: url('../Projekt_EDI/Zdjecia/Paris.jpg');
    background-size: cover;
    background-position: center;
}

#navbarText{
    font-size: xx-large;
    position: absolute;
    right:100px;
    background-color: #f8f9fa!important;
}
.country_name{
    margin-right: 7px;
    float: right;
}
.navbar{
    font-family: 'Cinzel', serif;
    height: 60px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
};

