.weather {
    margin-top: 200px;
    height: 400px;
    text-align: left;
}
body {
    background-image: url('../Projekt_EDI/Zdjecia/Paris.jpg');
    background-size: cover;
    background-position: center;
}

.navbar-brand{
    margin-top: 2%;
}
#navbarText{
    position: absolute;
    right: 20px;
}
.country_name{
    margin-right: 5px;
}

